$nav-color: #efefef;
$pink-color: #e92569;
$gray-color: #767676;
$border-color: #d1d1d1;
$background-color: radial-gradient(
  circle,
  rgba(255, 255, 255, 1) 0%,
  rgba(229, 229, 229, 1) 100%
);

//font

$lato-font: "Lato", sans-serif;
